*{
    box-sizing: border-box;
    color: #F09819;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.complete{
    color:#FF512F;
    font-weight: 700;
    text-decoration: line-through;
    opacity: 0.5;
}

.Todo-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    
}

.AddTask{
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-button{
    text-align: center;
    background: linear-gradient();
    margin: 10px;
    padding: 10px;
}


input{
    padding: 10px;
}


button {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
button {
   margin: 10px;
   padding: 10px;
   font-weight: 500;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-color: #F09819;
   border-radius: 20px;
   
 }

 button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
